.header{
    height: 15%;
    width: 100%;

    .logo{
        height: 100%;
        width: 0%;
        float: left;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .breadcrumb-0{
        height: 100%;
        width: 70%;
        float: right;
        font-weight: bold;
        font-size: 30px;
    }
}