<div class="heading-2">Main Component</div>
<div class="card-body gradient-buttons mt-5" style="display: flex;justify-content: space-around;">
    <button type="button" class="btn btn-primary" id="firstBtn" [routerLink]="['/first']"><u>F</u>irst Component</button>
    <button type="button" class="btn btn-success" id="secondBtn" [routerLink]="['/second']"><u>S</u>econd Component</button>
</div>