.bk-main{
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width:100%;

    .bk-content{
        padding: 5%;
        height: calc(100% - 15%);
        width: calc(100% - 10%);
        color:white;

        .main-content{
            // height: 85%;
            width: 100%;

            .left-content{
                height: 100%;
                width: 50%;
                float: left;

                p{
                    font-size: 30px;

                }
            }
            
            .text-Center{
                text-align: center;
            }

            .right-content{
                height: 100%;
                width: 50%;
                float: right;
            }
        }
    }
}
