<div class="bk-main" style="display: inline-table;">
  <div class="bk-content">
    <app-header></app-header>
    <div class="main-content">
      <div class="left-content text-Center mt-5">
        <div class="heading-1">Angular</div>
        <div class="heading-1">HotKeys</div>
        <p class="row">A hot key is a key or a combination of keys that invoke a software program to perform a preprogrammed action.
          It is more quick than by using a mouse or other input device.</p>
        <p class="row">Here we can selects buttons using hotkeys, just press alt+'underlined key'.</p>
        <p class="row">For e.g. - <b>alt+f</b> will select 'first Component' button</p>
      </div>
      <div class="right-content text-Center mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>