<div class="heading-2">Second Component</div>
<div class="card-body gradient-buttons mt-5" style="display: flex;justify-content: space-around;">
    <button type="button" id="firstBtn" class="btn btn-primary" [routerLink]="['/first']"><u>F</u>irst
        Component</button>
    <button type="button" id="mainBtn" class="btn btn-success" [routerLink]="['/main']"><u>M</u>ain Component</button>
</div>