<div class="heading-2">First Component</div>
<div class="card-body gradient-buttons mt-5" style="display: flex;justify-content: space-around;">
    <button type="button" class="btn btn-primary" id="mainBtn" [routerLink]="['/main']"><u>M</u>ain Component</button>
    <button type="button" class="btn btn-success" id="secondBtn" [routerLink]="['/second']"><u>S</u>econd
        Component</button>
</div>