/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}


.heading-1{
    width: 100%;
    font-weight: bold;
    font-size: 50px;
}
.heading-2{
    width: 100%;
    font-weight: bold;
    font-size: 30px;
}

.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}